<div class="bg-light aboutsec">
  <div class="container">
    <h1 class="pt-5 abouth">About Us</h1>
    <p class="py-5 aboutp">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Culpa, iusto
      optio tempore voluptatum animi ullam odit. Architecto doloribus harum, sit
      accusamus quisquam fugit deserunt sed reiciendis tempora amet minus quasi
      eum culpa ipsa hic facilis a magnam vitae labore nihil saepe dignissimos
      nulla cum? Doloribus facilis inventore tempore placeat quam.
    </p>
    <div class="">
      <h1 class="p-5 aboutdev">Our Developers</h1>
      <div class="row">
        <div class="col-12 col-md py-4">
          <div class="card">
            <img
              class="card-img-top"
              src="img/rahul.png"
              alt="Card image cap"
            />
            <div class="card-body">
              <h5 class="card-title">Rahul Jindal</h5>
              <p class="card-text">
               <p class="font-italic font-weight-light">Punjab Engineering College, Chandigarh</p>
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
              <a href="#" class="btn btn-primary">Github</a>
            </div>
          </div>
        </div>
        <div class="col-12 col-md py-4">
          <div class="card">
            <img
              class="card-img-top"
              src="img/mayank.png"
              alt="Card image cap"
            />
            <div class="card-body">
              <h5 class="card-title">Mayank</h5>
              <p class="card-text">
               <p class="font-italic font-weight-light">Punjab Engineering College, Chandigarh</p>
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
              <a href="#" class="btn btn-primary">Github</a>
            </div>
          </div>
        </div>
        <div class="col-12 col-md py-4">
          <div class="card">
            <img
              class="card-img-top"
              src="img/navdesh.png"
              alt="Card image cap"
            />
            <div class="card-body">
              <h5 class="card-title">Navdesh</h5>
              <p class="card-text">
               <p class="font-italic font-weight-light">Punjab Engineering College, Chandigarh</p>
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
              <a href="#" class="btn btn-primary">Github</a>
            </div>
          </div>
        </div>
        <div class="col-12 col-md py-4">
          <div class="card">
            <img
              class="card-img-top"
              src="img/raghav.png"
              alt="Card image cap"
            />
            <div class="card-body">
              <h5 class="card-title">Raghav Vashishth</h5>
              <p class="card-text">
               <p class="font-italic font-weight-light">Punjab Engineering College, Chandigarh</p>
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
              <a href="#" class="btn btn-primary">Github</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
