<div class="maindiv bg-dark text-white">
  <div class="header">
    <h1>EARN AND LEARN</h1>
    <p class="pt-4">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium fugit
      dolor eaque minima hic eveniet nemo natus quia sunt reiciendis doloremque
      sit quas consequuntur ex assumenda quaerat, corporis repellat quam!
    </p>
  </div>
  <div class="image">
    <img src="img/ecommerce.jpg" alt="" />
  </div>
</div>
