<div class="services container">
  <h1 class="title">Services</h1>
  <div class="row">
    <p><i class="fas fa-book"></i></p>
    <div class="col-12 col-md">
      <h1>Sell Products</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Harum,
        dolorum.
      </p>
    </div>
    <div class="col-12 col-md">
      <h1>Buy Products</h1>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas,
        reprehenderit.
      </p>
    </div>
    <div class="col-12 col-md">
      <h1>Cash on Delivery</h1>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sit,
        blanditiis.
      </p>
    </div>
  </div>
</div>
