body {
  overflow: auto !important;
}

.maindiv {
  padding: 5%;
  /* width: 100vw; */
  height: 80vh;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.searchItem {
  width: 98vw;
  overflow: auto;
}
.maindiv .header {
  text-align: left;
  width: 60%;
}
.maindiv img {
  margin-left: 20%;
  border: 10px solid white;
  width: 25vw;
  height: 25vh;
}

/* Service section css */
.services {
  text-align: center;
}
.services .title {
  color: red;
  font-size: 3rem;
  padding-top: 50px;
  padding-bottom: 50px;
}
.services .row h1 {
  font-size: 1.5rem;
}
.services .row p {
  color: grey;
}

/* signup form css */
.signup img {
  height: 2%;
}
.signup {
  padding: 50px;
}
.signup button {
  margin-left: 40%;
}

/* about section */
.abouth {
  text-align: center;
  color: red;
  font-size: 3rem;
}
.aboutp {
  color: gray;
  margin: auto;
  text-align: center;
}
.aboutdev {
  text-align: center;
  letter-spacing: 5px;
}
